// Custom variables and mixins
@import "variables";
@import "mixins";

// General styles

body,
html {
  position: relative;
  font-family: $font-family-monospace;

  h1,
  h3,
  h5,
  p {
    opacity: 0.7;
    @include mQ(768px) {
      opacity: 0.9;
    }
  }

  .opacity-text {
    opacity: 0.7;
    @include mQ(768px) {
      opacity: 0.9;
    }
  }
}

// Header nav styles

.header-fixed {
  padding: 0.3rem 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;

  .nav-link {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.7) !important;
    @include mQ(768px) {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }

  .nav-link.active {
    color: $alt-bg !important;
  }
  @include mQLandscape(740px) {
    font-size: $font-size-p-alt;
  }
}

.header-fixed.transparent {
  background-color: rgba(0, 0, 0, 0.3);
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
}

.headroom--unpinned {
  top: -105px; // adjust according to nav height and/or padding
  @include mQ(875px) {
    top: -290px;
  }
}

.headroom--pinned {
  top: 0;
}

.logo {
  margin-bottom: 0;
  @include mQ(4000px, 1300px) {
    font-size: 2.6rem;
  }
  @include mQ(992px) {
    font-size: 2.4rem;
  }
  @include mQ(768px) {
    font-size: 2.2rem;
  }
  @include mQ(576px) {
    font-size: 2rem;
  }
  @include mQ(320px) {
    font-size: 1.8rem;
  }
  @include mQLandscape(768px) {
    font-size: 2rem;
  }
}

.custom-toggler {
  border-color: transparent !important;
}

.custom-toggler:focus, .custom-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

// Jumbotron styles

.jumbotron {
  @include heroImages;
  background-image: url("../assets/fwwu-forest2.jpg");
  height: 100vh;
  background-color: $body-bg;
  margin-bottom: 0;
  @include mQPortrait(768px) {
    background-image: url("../assets/fwwu-forestalbumcover2.jpg");
  }
}

.disappear {
  position: absolute;
  z-index: 9999; // makes disappear clickable when nav has transparency
  top: 28%;
  left: 45%;
  transform: translateX(-50%);
  @include mQ(768px) {
    top: 25%;
  }
  @include mQ(576px) {
    top: 28%;
    left: 50%;
  }
  @include mQPortrait(768px) {
    top: 30%;
    left: 50%;
  }
}

.jumbo-text {

  h3 {
    @include mQ(992px) {
      font-size: 1.6rem;
    }
    @include mQ(768px) {
      font-size: 1.5rem;
    }
    @include mQ()
    @include mQ(320px) {
      font-size: 1.35rem;
    }
  }

  span {
    font-size: $font-size-p-alt;
    @include mQ(320px) {
      font-size: 0.85rem;
    }
  }

  .btn {
    border-width: 2px;
  }

  .btn-outline-light {
    border-color: rgba(248, 249, 250, 0.5);
  }

  #hide {
    padding: 0.2rem 0.4rem;
  }
}

.modal-content {
  background-color: rgba(106, 117, 106, 0.1);

  .modal-header {
    border: none;
    padding-bottom: 0;
  }

  .modal-body {
    padding: 0.2rem 1.5rem 0.5rem;
  }

  .close span {
    //text-shadow: none;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

// News section

.news-section {
  background: $alt-bg;

  .card-body {
    padding: 1.25rem 0 0;
  }

  .article-hide {
    display: none;
  }

  .btn {
    font-size: 0.75rem;
    @include mQ(768px) {
      font-size: 0.7rem;
    }
  }

  .btn-outline-dark {
    border-color: rgba(52, 58, 64, 0.5);
  }
}

button.expand-news.collapsed::before {
  content: 'More news';
}

button.expand-news::before {
  content: 'Minimize news';
}

// Discography styles

.bg-discography {
  background: $alt-bg;
}

.card {
  border: none;

  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  * {
     min-height: 0.01px;
  } // solves IE10/11 card-body img height issues

  p {
    @include mQLandscape(768px) {
      font-size: $font-size-p-alt;
    }
  }

  .card-body {
    @include mQ(4000px, 1300px) {
      padding-bottom: 2.25rem;
    }
  }
}

// Shows styles

.shows {
  @include heroImages;
  background-image: url("../assets/vondelbunker-live2.jpg");
  padding: 0;
}

.shows-section {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  //overflow-y: scroll; enable when necessary
}

// Contact section

.contact {

  .text-dark:hover {
    color: #575757 !important;
  }
}

.nav-font {
  font-size: 2rem;
  @include mQ(576px) {
    margin: 0 0.5rem;
  }
}

.bg-contact {
  background: $alt-bg;
}

.members {
  margin-bottom: 0.5rem;
}

.members-heading {
  margin-bottom: 1rem;
  @include mQLandscape (740px) {
    margin-top: 1.5rem;
  }
  @include mQ(576px) {
    margin-top: 1.5rem;
  }
}

nav.copy {
  background: $alt-bg;
  border-top: 1px solid rgba(106, 117, 106, 0.1);

  p {
    font-size: $font-size-p-alt;
  }
}
