// Custom variables, mixins
@import "variables";
@import "mixins";

// General styles

body,
html {
  font-family: $font-family-monospace;
}

h1,
h3,
h4,
p {
  opacity: 0.7;
  text-shadow: 1px 0 6px rgba(150, 150, 150, 0.5);
}

.opacity-text {
  opacity: 0.7;
}

// header nav styles

.header-fixed {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header-fixed.transparent {
  background-color: rgba(0, 0, 0, 0.3);
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
}

.headroom--unpinned {
  top: -122px;
  @include mQ(768px) {
    top: -322px;
  }
}

.headroom--pinned {
  top: 0;
}

.logo {
  margin-bottom: 0;
  @include mQ(3000px, 1300px) {
    font-size: 3rem;
  } // for targeting lg screens, needs work perhaps
  @include mQ(992px) {
    font-size: 2.2rem;
  }
  @include mQ(768px) {
    font-size: 2rem;
  }
  @include mQ(576px) {
    font-size: 1.75rem;
  }
}

// jumbotron styles

.jumbotron {
  @include heroImages;
  background-image: url("../assets/fwwu-forest2.jpg");
  height: 100vh;
  margin-bottom: 0;
  @include mQPortrait(768px) {
    background-image: url("../assets/fwwu-forestalbumcover2.jpg");
  }

  .btn-sm {
    font-size: 0.75rem;
  }
}

.disappear {
  position: absolute;
  top: 28%;
  left: 45%;
  transform: translateX(-50%);
  @include mQ(768px) {
    top: 25%;
  }
  @include mQ(576px) {
    top: 28%;
    left: 50%;
  }
  @include mQPortrait(768px) {
    top: 30%;
    left: 50%;
  }
}

.jumbo-text {
  h3 {
    @include mQ(992px) {
      font-size: 1.35rem;
    }
    @include mQ(768px) {
      font-size: 1.25rem;
    }
  }

  p {
    @include mQ(992px) {
      font-size: 0.9rem;
    }
    @include mQ(768px) {
      font-size: 0.8rem;
    }
  }
}

.modal-content {
  background-color: rgba(106, 117, 106, 0.1);
}

.modal-header {
  position: relative;
  border: none;
  padding-bottom: 0;
}

.modal-body {
  padding-top: 0.5rem;
}

.close {
  text-shadow: none;
}

// News section

.news-gradient {
  background: linear-gradient(rgba(25, 33, 25, 1), rgba(25, 33, 25, 0));
}

.news-section {
  background: $bg-alt;
  margin-bottom: 5rem;
}

button.expand.collapsed::before {
  content: 'More news';
}

button.expand::before {
  content: 'Minimize news';
}

// Discography styles

.bg-discography {
  background: $bg-alt;
}

.card {
  border: none;
}

// Shows stylesheet

.shows {
  @include heroImages;
  background-image: url("../assets/vondelbunker-live.jpg");
  padding: 0;
}

.shows-section {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

.nav-font {
  font-size: 1.8rem;
  @include mQ(576px) {
    margin: 0 0.5rem;
  }
}

.bg-contact {
  background: complement($test-color);
}

.card-header {
  border-bottom: none;
}
