// Custom variables and mixins
@import "variables";
@import "mixins";

// General styles

body,
html {
  position: relative;
  font-family: $font-family-monospace;

  h1,
  h3,
  h5,
  p {
    opacity: 0.7;
    text-shadow: 1px 0 6px rgba(150, 150, 150, 0.5);
  }

  p {
    @include mQ(992px) {
      font-size: $font-size-p-lg;
    }
    @include mQ(768px) {
      font-size: $font-size-p-md;
    }
  }

  .btn {
    @include mQ(768px) {
      font-size: 0.65rem;
    }
  }

  .opacity-text {
    opacity: 0.7;
  }
}

// Header nav styles

.header-fixed {
  padding: 0.3rem 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;

  .nav-link {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .nav-link.active {
    color: $alt-bg !important;
  }
  @include mQ(576px) {
    font-size: $font-size-p-md;
  }
  @include mQLandscape(740px) {
    font-size: 0.8rem;
  }
}

.header-fixed.transparent {
  background-color: rgba(0, 0, 0, 0.3);
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
}

.headroom--unpinned {
  top: -105px; // adjust according to nav height and/or padding
  @include mQ(768px) {
    top: -268px;
  }
}

.headroom--pinned {
  top: 0;
}

.logo {
  margin-bottom: 0;
  @include mQ(3000px, 1300px) {
    font-size: 3rem;
  } // for targeting lg screens, needs work perhaps
  @include mQ(992px) {
    font-size: 2.2rem;
  }
  @include mQ(768px) {
    font-size: 2.1rem;
  }
  @include mQ(576px) {
    font-size: 1.8rem;
  }
  @include mQ(320px) {
    font-size: 1.6rem;
  }
  @include mQLandscape(768px) {
    font-size: 1.8rem;
  }
}

.custom-toggler {
  border-color: transparent !important;
}

// Jumbotron styles

.jumbotron {
  @include heroImages;
  background-image: url("../assets/fwwu-forest2.jpg");
  height: 100vh;
  margin-bottom: 0;
  @include mQPortrait(768px) {
    background-image: url("../assets/fwwu-forestalbumcover2.jpg");
  }
}

.disappear {
  position: absolute;
  z-index: 9999; // makes disappear clickable when nav has transparency
  top: 28%;
  left: 45%;
  transform: translateX(-50%);
  @include mQ(768px) {
    top: 25%;
  }
  @include mQ(576px) {
    top: 28%;
    left: 50%;
  }
  @include mQPortrait(768px) {
    top: 30%;
    left: 50%;
  }
}

.jumbo-text {

  h3 {
    @include mQ(992px) {
      font-size: 1.4rem;
    }
    @include mQ(768px) {
      font-size: 1.3rem;
    }
    @include mQ(320px) {
      font-size: 1.2rem;
    }
    @include mQLandscape(768px){
      font-size: 1.1rem;
    }
  }

  p {
    @include mQLandscape(768px) {
      font-size: 0.8rem;
    }
    @include mQ(320px) {
      font-size: 0.75rem;
    }
  }
}

.modal-content {
  background-color: rgba(106, 117, 106, 0.1);

  .modal-header {
    border: none;
    padding-bottom: 0;
  }

  .modal-body {
    padding: 0.2rem 1.5rem 0.5rem;
  }

  .close {
    text-shadow: none;
  }
}

// News section

.news-section {
  background: $alt-bg;

  .card-body {
    padding: 1.25rem 0;
  }

  .expand-news,
  .expand-article {
    text-shadow: 1px 0 6px rgba(150, 150, 150, 0.5);
  }

  .article-hide-1,
  .article-hide-2 {
    display: none;
  }

  h5 {
    @include mQLandscape(768px) {
      font-size: 0.9rem;
    }
  }

  p {
    @include mQLandscape(768px) {
      font-size: 0.8rem;
    }
  }
}

button.expand-news.collapsed::before {
  content: 'More news';
}

button.expand-news::before {
  content: 'Minimize news';
}

// Discography styles

.bg-discography {
  background: $alt-bg;
}

.card {
  border: none;

  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  p {
    @include mQLandscape(768px) {
      font-size: 0.8rem;
    }
  }
}

// Shows stylesheet

.shows {
  @include heroImages;
  background-image: url("../assets/vondelbunker-live2.jpg");
  padding: 0;
}

.shows-section {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;

  h5 {
    @include mQLandscape(768px) {
      font-size: 0.9rem;
    }
  }

  p {
    @include mQLandscape(768px) {
      font-size: 0.8rem;
    }
  }
}

// Contact section

.contact {

  .text-dark:hover {
    color: #575757 !important;
  }
}

.nav-font {
  font-size: 1.85rem;
  @include mQ(576px) {
    margin: 0 0.5rem;
  }
}

.bg-contact {
  background: $alt-bg;
}

.members {
  margin-bottom: 0.5rem;
}

.members-heading {
  margin-bottom: 1rem;
  @include mQLandscape (740px) {
    margin-top: 1.5rem;
  }
  @include mQ(576px) {
    margin-top: 1.5rem;
  }

  h5 {
    @include mQLandscape(768px) {
      font-size: 0.9rem;
    }
  }

  p {
    @include mQLandscape(768px) {
      font-size: 0.8rem;
    }
  }
}

nav.copy {
  background: $alt-bg;
  border-top: 1px solid rgba(106, 117, 106, 0.1);

  p {
    font-size: 0.85rem;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

  
}
