// Variables

// Bootstrap variable overrides

$body-bg: #000;
$font-family-monospace: "Courier New", Courier, "Lucinda Sans Typewriter", "Lucinda Typewriter", monospace;
$font-size-base: 0.9rem;
$font-weight-normal: 500;
$transition-collapse: height 0.5s ease;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4.5), // additional spacing option
  7: ($spacer * 8) // additional spacing option
), $spacers);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  cs: 875px, // custom breakpoint
  lg: 992px,
  xl: 1200px
);

// Bootstrap Sass files
@import "node_modules/bootstrap/scss/bootstrap";
// includes everything, for custom adjustments: see documentation

// Custom variables

$alt-bg: #fff;
$font-size-p-alt: 0.9rem;
